[submodule "loicsander-robofont-scripts"]
	path = loicsander-robofont-scripts
	url = https://github.com/loicsander/Robofont-scripts
[submodule "danmilne-robofont"]
	path = danmilne-robofont
	url = https://github.com/danmilne/RoboFont
[submodule "jenskutilek-robofont"]
	path = jenskutilek-robofont
	url = https://github.com/jenskutilek/RoboFont
[submodule "typedev-robofont"]
	path = typedev-robofont
	url = https://github.com/typedev/RoboFont
[submodule "sansplomb-robofonttools"]
	path = sansplomb-robofonttools
	url = https://github.com/sansplomb/RobofontTools
[submodule "adobe-robofont-scripts"]
	path = adobe-robofont-scripts
	url = https://github.com/adobe-type-tools/robofont-scripts
[submodule "fontbureau-opentools"]
	path = fontbureau-opentools
	url = https://github.com/FontBureau/fbOpenTools
[submodule "fontfont-robochrome"]
	path = fontfont-robochrome
	url = https://github.com/fontfont/RoboChrome
[submodule "sansplomb-quadraticconverter"]
	path = blackfoundry-quadraticconverter
	url = https://github.com/sansplomb/QuadraticConverter
[submodule "sansplomb-properties"]
	path = blackfoundry-properties
	url = https://github.com/sansplomb/Properties
[submodule "jenskutilek-curve-equalizer"]
	path = jenskutilek-curve-equalizer
	url = https://github.com/jenskutilek/Curve-Equalizer
[submodule "jenskutilek-redarrow"]
	path = jenskutilek-redarrow
	url = https://github.com/jenskutilek/RedArrow
[submodule "frankrolf-showdist"]
	path = frankrolf-showdist
	url = https://github.com/frankrolf/showDist
[submodule "klaavo-scalingedittool"]
	path = klaavo-scalingedittool
	url = https://github.com/klaavo/scalingEditTool
[submodule "lapolice-lp-rf-tools"]
	path = lapolice-lp-rf-tools
	url = https://github.com/LaPolice/LP-RF-Tools
[submodule "asaumierdemers-cabrobofontscripts"]
	path = asaumierdemers-cabrobofontscripts
	url = https://github.com/asaumierdemers/cabRoboFontScripts
[submodule "ninastoessinger-touche"]
	path = ninastoessinger-touche
	url = https://github.com/ninastoessinger/Touche
[submodule "ninastoessinger-word-o-mat"]
	path = ninastoessinger-word-o-mat
	url = https://github.com/ninastoessinger/word-o-mat
[submodule "charlesmchen-typefacet-robofont"]
	path = charlesmchen-typefacet-robofont
	url = https://github.com/charlesmchen/typefacet-robofont
[submodule "simonegli-hobbyspline"]
	path = simonegli-hobbyspline
	url = https://github.com/simonegli/hobbyspline
[submodule "loicsander-font2pdf"]
	path = loicsander-font2pdf
	url = https://github.com/loicsander/Font2PDF
[submodule "adobe-robofont-extensions"]
	path = adobe-robofont-extensions
	url = https://github.com/adobe-type-tools/robofont-extensions
[submodule "typefounding-dump-fuse"]
	path = typefounding-dump-fuse
	url = https://github.com/Typefounding/dump-fuse
[submodule "typefounding-underlinestrikethrough"]
	path = typefounding-underlinestrikethrough
	url = https://github.com/Typefounding/underlineStrikethrough
[submodule "typefounding-copyglyphs"]
	path = typefounding-copyglyphs
	url = https://github.com/Typefounding/copyGlyphs
[submodule "hoeflerco-robofont"]
	path = hoeflerco-robofont
	url = https://github.com/hoeflerco/RoboFont
[submodule "alexjacque-adjustmargins"]
	path = alexjacque-adjustmargins
	url = https://github.com/alexjacque/AdjustMargins
[submodule "alexjacque-copysidebearings"]
	path = alexjacque-copysidebearings
	url = https://github.com/alexjacque/CopySidebearings
[submodule "gferreira-htools2"]
	path = gferreira-htools2
	url = https://github.com/gferreira/hTools2_extension
[submodule "productiontpye-robolasso"]
	path = productiontpye-robolasso
	url = https://github.com/productiontype/RoboLasso
[submodule "glyphBrowser"]
	path = letterror-glyphbrowser
	url = https://github.com/LettError/glyphBrowser
[submodule "typemytype-drawbot"]
	path = typemytype-drawbot
	url = https://github.com/typemytype/drawBotRoboFontExtension
[submodule "sansplomb-italicguide"]
	path = sansplomb-italicguide
	url = https://github.com/sansplomb/ItalicGuide
[submodule "ninastoessinger-suffixer"]
	path = ninastoessinger-suffixer
	url = https://github.com/ninastoessinger/Suffixer
[submodule "ninastoessinger-spaceflip"]
	path = ninastoessinger-spaceflip
	url = https://github.com/ninastoessinger/SpaceFlip
[submodule "asaumierdemers-addoverlap"]
	path = asaumierdemers-addoverlap
	url = https://github.com/asaumierdemers/AddOverlap
[submodule "asaumierdemers-broadnibbackground"]
	path = asaumierdemers-broadnibbackground
	url = https://github.com/asaumierdemers/BroadNibBackground
[submodule "typemytype-ramsaystreet"]
	path = typemytype-ramsaystreet
	url = https://github.com/typemytype/ramsayStreetRoboFontExtension
[submodule "typemytype-kerningchecker"]
	path = typemytype-kerningchecker
	url = https://github.com/typemytype/kerningCheckerRoboFontExtension
[submodule "typemytype-outliner"]
	path = typemytype-outliner
	url = https://github.com/typemytype/outlinerRoboFontExtension
[submodule "typemytype-send2twitter"]
	path = typemytype-send2twitter
	url = https://github.com/typemytype/send2twitterRoboFontExtension
[submodule "typemytype-shapetool"]
	path = typemytype-shapetool
	url = https://github.com/typemytype/shapeToolRoboFontExtension
[submodule "typemytype-pixeltool"]
	path = typemytype-pixeltool
	url = https://github.com/typemytype/pixelToolRoboFontExtension
[submodule "typemytype-groups2features"]
	path = typemytype-groups2features
	url = https://github.com/typemytype/groups2featuresRoboFontExtension
[submodule "typemytype-layerpreview"]
	path = typemytype-layerpreview
	url = https://github.com/typemytype/layerPreviewRoboFontExtension
[submodule "typemytype-glifviewer"]
	path = typemytype-glifviewer
	url = https://github.com/typemytype/glifViewerRoboFontExtension
[submodule "typemytype-featurepreview"]
	path = typemytype-featurepreview
	url = https://github.com/typemytype/featurePreviewRoboFontExtension
[submodule "typemytype-arrangewindows"]
	path = typemytype-arrangewindows
	url = https://github.com/typemytype/arrangeWindowsRoboFontExtension
[submodule "typemytype-slanter"]
	path = typemytype-slanter
	url = https://github.com/typemytype/slanterRoboFontExtension
[submodule "typemytype-savecopy"]
	path = typemytype-savecopy
	url = https://github.com/typemytype/saveCopyRoboFontExtension
[submodule "typemytype-profile"]
	path = typemytype-profile
	url = https://github.com/typemytype/profileRoboFontExtension
[submodule "typemytype-pathoperator"]
	path = typemytype-pathoperator
	url = https://github.com/typemytype/pathOperatorRoboFontExtension
[submodule "typemytype-logger"]
	path = typemytype-logger
	url = https://github.com/typemytype/loggerRoboFontExtension
[submodule "typemytype-goldener"]
	path = typemytype-goldener
	url = https://github.com/typemytype/goldnerRoboFontExtension
[submodule "typemytype-project"]
	path = typemytype-project
	url = https://github.com/typemytype/projectRoboFontExtension
[submodule "blackfoundry-designrecorder"]
	path = blackfoundry-designrecorder
	url = https://github.com/BlackFoundry/DesignRecorder
[submodule "blackfoundry-converttocurves"]
	path = blackfoundry-converttocurves
	url = https://github.com/BlackFoundry/ConvertToCurves
[submodule "blackfoundry-converttolines"]
	path = blackfoundry-converttolines
	url = https://github.com/BlackFoundry/ConvertToLines
[submodule "blackfoundry-copytomask"]
	path = blackfoundry-copytomask
	url = https://github.com/BlackFoundry/CopyToMask
[submodule "typemytype-batchrobofontextension"]
	path = typemytype-batchrobofontextension
	url = https://github.com/typemytype/batchRoboFontExtension
[submodule "letterror-editthatnextmaster"]
	path = letterror-editthatnextmaster
	url = https://github.com/LettError/editThatNextMaster
[submodule "letterror-designspacerobofontextension"]
	path = letterror-designspacerobofontextension
	url = https://github.com/LettError/designSpaceRoboFontExtension
[submodule "lukesnider-glyphgiffer"]
	path = lukesnider-glyphgiffer
	url = https://github.com/luke-snider/GlyphGiffer
[submodule "adobe-kernalytics"]
	path = adobe-kernalytics
	url = https://github.com/adobe-type-tools/kernalytics-rf-ext
[submodule "luke-snider-de-casteljau"]
	path = luke-snider-de-casteljau
	url = https://github.com/luke-snider/de-casteljau
[submodule "jtanadi-checkparalleltool"]
	path = jtanadi-checkparalleltool
	url = https://github.com/jtanadi/CheckParallelTool
